.wrapper {
  background: black;
  padding: 1rem;
  color: white;
  font-size: 2rem;
}

/* 글로벌하게 선언할 때에는 */
:global .something {
  font-weight: 800;
  color: aqua;
}

/* 
    module.css를 사용할 때에는 클래스 이름에 대해서 고민을 하지 않아도 된다.
    해당 css가 적용되는 컴포넌트 내에서만 사용되게끔 해시값이 설정되기 때문이다.
*/
